/*------------------------------------*\
	$$ Just Checking - Panels
\*------------------------------------*/
/*
Requires:
  * SASS
  * Compass
  * Global Variables
  * Global Mixins
Contents:
  * Imports
  * Panel Base
  * Horizontal Panel
    * Panel Inner
  * Vertical Panel
    * Panel Inner
  * Panel Header
    * Panel header title
    * Panel header links
  * Panel Inner
  * Top Panel
    * State classes
    * Keyframes
  * Bottom Panel
    * State classes
    * Keyframes
  * Right Panel
    * State classes
    * Keyframes
  * Left Panel
    * State classes
    * Keyframes
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Mixins
\*------------------------------------*/
/*
Requires:
  * SASS
  * Compass
  * Global Variables
Contents:
  * Imports
  * Utility
    * Clearfix
    * Reset Margin & Padding
  * Borders
  * Backgrounds
  * Menus
  * Buttons
    * Default button
    * Submit button
  * Overlay
  * Text Trim
  * Scroll
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\ 
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
    * Brand colours
    * Button & alert colours
    * Background colours
  * Scaffolding
    * Default Breakpoints
  * Buttons
    * Colours
    * Sizes
  * Margin & Padding
  * Typography
    * Font Family
    * Text Colour
  * Borders
  * Dimensions
  * Shadows
  * Tables
  * Breakpoints
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/* Brand colours */
/* Button & alert colours */
/* Background colours */
/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/
/* Default Breakpoints */
/*------------------------------------*\
  $ Buttons
\*------------------------------------*/
/* Colours */
/* Sizes */
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Typography
\*------------------------------------*/
/* Font Family */
/* Text Colour */
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Dimensions
\*------------------------------------*/
/*------------------------------------*\
  $ Shadows
\*------------------------------------*/
/*------------------------------------*\
  $ Tables
\*------------------------------------*/
/*------------------------------------*\
  $ Breakpoints
\*------------------------------------*/
/*------------------------------------*\
  $ Utility
\*------------------------------------*/
/* Clearfix */
/* Reset Margin & Padding */
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Backgrounds
\*------------------------------------*/
/*------------------------------------*\
  $ Menus
\*------------------------------------*/
/*------------------------------------*\
  $ Buttons
\*------------------------------------*/
/* Default button */
/* Submit button */
/*------------------------------------*\
  $ Overlay
\*------------------------------------*/
/*------------------------------------*\
  $ Text Trim
\*------------------------------------*/
/*
Requires:
  * This requires a container with a set width
*/
/*------------------------------------*\
  $ Scroll
\*------------------------------------*/
/*------------------------------------*\
  $ Animations
\*------------------------------------*/
/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/
/* line 55, ../scss/panels.scss */
.page-wrapper {
  height: 100%;
  overflow: hidden;
}

/* line 61, ../scss/panels.scss */
.page-inner {
  height: 100%;
  padding: 0 1em 4em 1em;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/*------------------------------------*\
  $ Panel Base
\*------------------------------------*/
/* line 74, ../scss/panels.scss */
.panel {
  position: fixed;
  height: 100%;
  background-color: white;
}

/*------------------------------------*\
  $ Panel Inner
\*------------------------------------*/
/* line 88, ../scss/panels.scss */
.panel-inner, .panel-horizontal .panel-inner, .panel-vertical .panel-inner {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/*------------------------------------*\
  $ Panel Header
\*------------------------------------*/
/* line 100, ../scss/panels.scss */
.panel-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2002;
  padding: 0 0 0 1em;
  width: 100%;
  /* Panel header title */
  /* Close link */
}
/* line 110, ../scss/panels.scss */
.panel-header .panel-title {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 46px;
  line-height: 4.6rem;
}
/* line 119, ../scss/panels.scss */
.panel-header .panel-close {
  float: right;
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 38px;
  line-height: 3.8rem;
}

/*------------------------------------*\
  $ Horizontal Panel
\*------------------------------------*/
/* line 137, ../scss/panels.scss */
.panel-horizontal {
  width: 280px;
  max-width: 280px;
  height: 100%;
  background-color: #202020;
  color: white;
  /* Panel Inner */
  /* Panel Header */
}
/* line 146, ../scss/panels.scss */
.panel-horizontal .panel-inner, .panel-horizontal .panel-inner, .panel-horizontal .panel-vertical .panel-inner, .panel-vertical .panel-horizontal .panel-inner {
  margin-top: 44px;
  padding: 0 1em 3em 1em;
}
/* line 156, ../scss/panels.scss */
.panel-horizontal .panel-header .panel-title,
.panel-horizontal .panel-header i {
  color: white;
}

/*------------------------------------*\
  $ Vertical Panel
\*------------------------------------*/
/* line 169, ../scss/panels.scss */
.panel-vertical {
  width: 100%;
  height: auto;
  max-height: 80%;
  z-index: 4;
  -webkit-box-shadow: 0 0 6px #999999;
  -moz-box-shadow: 0 0 6px #999999;
  box-shadow: 0 0 6px #999999;
  /* Panel Inner */
  /* Panel Header */
}
/* line 179, ../scss/panels.scss */
.panel-vertical .panel-inner, .panel-vertical .panel-horizontal .panel-inner, .panel-horizontal .panel-vertical .panel-inner, .panel-vertical .panel-inner {
  padding: 0 1em 2em 1em;
  margin-top: 44px;
}
/* line 188, ../scss/panels.scss */
.panel-vertical .panel-header {
  height: 44px;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px #999999;
  -moz-box-shadow: 0 1px 1px #999999;
  box-shadow: 0 1px 1px #999999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f6));
  background-image: -webkit-linear-gradient(#ffffff, #f9f9f6);
  background-image: -moz-linear-gradient(#ffffff, #f9f9f6);
  background-image: -o-linear-gradient(#ffffff, #f9f9f6);
  background-image: linear-gradient(#ffffff, #f9f9f6);
}

/*------------------------------------*\
  $ Vertical Panel Helper Class
\*------------------------------------*/
/* line 201, ../scss/panels.scss */
.panel-vertical-tall {
  height: 100%;
  padding-bottom: 3em;
}

/*------------------------------------*\
  $ Top Panel
\*------------------------------------*/
/* line 213, ../scss/panels.scss */
.panel-top {
  left: 0;
  top: -110%;
  background-color: white;
}

/* State classes */
/* line 221, ../scss/panels.scss */
.panel-top-in {
  -webkit-animation-name: slidePanelTopIn;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelTopIn;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.4s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelTopIn;
  animation-delay: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  top: 0;
}

/* line 226, ../scss/panels.scss */
.panel-top-out {
  -webkit-animation-name: slidePanelTopOut;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelTopOut;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelTopOut;
  animation-delay: 0;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  top: 100%;
}

/* Keyframes */
@-webkit-keyframes slidePanelTopIn {
  /* line 234, ../scss/panels.scss */
  from {
    top: -100%;
  }

  /* line 235, ../scss/panels.scss */
  to {
    top: 0;
  }
}

@-moz-keyframes slidePanelTopIn {
  /* line 234, ../scss/panels.scss */
  from {
    top: -100%;
  }

  /* line 235, ../scss/panels.scss */
  to {
    top: 0;
  }
}

@keyframes slidePanelTopIn {
  /* line 234, ../scss/panels.scss */
  from {
    top: -100%;
  }

  /* line 235, ../scss/panels.scss */
  to {
    top: 0;
  }
}

@-webkit-keyframes slidePanelTopOut {
  /* line 239, ../scss/panels.scss */
  from {
    top: 0;
  }

  /* line 240, ../scss/panels.scss */
  to {
    top: -100%;
  }
}

@-moz-keyframes slidePanelTopOut {
  /* line 239, ../scss/panels.scss */
  from {
    top: 0;
  }

  /* line 240, ../scss/panels.scss */
  to {
    top: -100%;
  }
}

@keyframes slidePanelTopOut {
  /* line 239, ../scss/panels.scss */
  from {
    top: 0;
  }

  /* line 240, ../scss/panels.scss */
  to {
    top: -100%;
  }
}

/*------------------------------------*\
  $ Bottom Panel
\*------------------------------------*/
/* line 250, ../scss/panels.scss */
.panel-bottom {
  left: 0;
  bottom: -100%;
}

/* State classes */
/* line 257, ../scss/panels.scss */
.panel-bottom-in {
  -webkit-animation-name: slidePanelBottomIn;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelBottomIn;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.4s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelBottomIn;
  animation-delay: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  bottom: 0;
}

/* line 262, ../scss/panels.scss */
.panel-bottom-out {
  -webkit-animation-name: slidePanelBottomOut;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelBottomOut;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelBottomOut;
  animation-delay: 0;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  bottom: -90%;
}

/* Keyframes */
@-webkit-keyframes slidePanelBottomIn {
  /* line 270, ../scss/panels.scss */
  from {
    bottom: -90%;
  }

  /* line 271, ../scss/panels.scss */
  to {
    bottom: 0;
  }
}

@-moz-keyframes slidePanelBottomIn {
  /* line 270, ../scss/panels.scss */
  from {
    bottom: -90%;
  }

  /* line 271, ../scss/panels.scss */
  to {
    bottom: 0;
  }
}

@keyframes slidePanelBottomIn {
  /* line 270, ../scss/panels.scss */
  from {
    bottom: -90%;
  }

  /* line 271, ../scss/panels.scss */
  to {
    bottom: 0;
  }
}

@-webkit-keyframes slidePanelBottomOut {
  /* line 275, ../scss/panels.scss */
  from {
    bottom: 0;
  }

  /* line 276, ../scss/panels.scss */
  to {
    bottom: -90%;
  }
}

@-moz-keyframes slidePanelBottomOut {
  /* line 275, ../scss/panels.scss */
  from {
    bottom: 0;
  }

  /* line 276, ../scss/panels.scss */
  to {
    bottom: -90%;
  }
}

@keyframes slidePanelBottomOut {
  /* line 275, ../scss/panels.scss */
  from {
    bottom: 0;
  }

  /* line 276, ../scss/panels.scss */
  to {
    bottom: -90%;
  }
}

/*------------------------------------*\
  $ Right Panel
\*------------------------------------*/
/* line 286, ../scss/panels.scss */
.panel-right {
  right: -280px;
  top: 0;
  -webkit-box-shadow: inset 4px 0 20px -4px black;
  -moz-box-shadow: inset 4px 0 20px -4px black;
  box-shadow: inset 4px 0 20px -4px black;
}

/* State classes */
/* line 294, ../scss/panels.scss */
.panel-right-in {
  -webkit-animation-name: slidePanelRightIn;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelRightIn;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.4s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelRightIn;
  animation-delay: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  right: 0;
}

/* line 299, ../scss/panels.scss */
.panel-right-out {
  -webkit-animation-name: slidePanelRightOut;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelRightOut;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelRightOut;
  animation-delay: 0;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  right: -100%;
}

/* Keyframes */
@-webkit-keyframes slidePanelRightIn {
  /* line 307, ../scss/panels.scss */
  from {
    right: -280px;
  }

  /* line 308, ../scss/panels.scss */
  to {
    right: 0;
  }
}

@-moz-keyframes slidePanelRightIn {
  /* line 307, ../scss/panels.scss */
  from {
    right: -280px;
  }

  /* line 308, ../scss/panels.scss */
  to {
    right: 0;
  }
}

@keyframes slidePanelRightIn {
  /* line 307, ../scss/panels.scss */
  from {
    right: -280px;
  }

  /* line 308, ../scss/panels.scss */
  to {
    right: 0;
  }
}

@-webkit-keyframes slidePanelRightOut {
  /* line 312, ../scss/panels.scss */
  from {
    right: 0;
  }

  /* line 313, ../scss/panels.scss */
  to {
    right: -280px;
  }
}

@-moz-keyframes slidePanelRightOut {
  /* line 312, ../scss/panels.scss */
  from {
    right: 0;
  }

  /* line 313, ../scss/panels.scss */
  to {
    right: -280px;
  }
}

@keyframes slidePanelRightOut {
  /* line 312, ../scss/panels.scss */
  from {
    right: 0;
  }

  /* line 313, ../scss/panels.scss */
  to {
    right: -280px;
  }
}

/*------------------------------------*\
  $ Left Panel
\*------------------------------------*/
/* line 323, ../scss/panels.scss */
.panel-left {
  left: -280px;
  top: 0;
  -webkit-box-shadow: inset -4px 0 20px -4px black;
  -moz-box-shadow: inset -4px 0 20px -4px black;
  box-shadow: inset -4px 0 20px -4px black;
}

/* State classes */
/* line 331, ../scss/panels.scss */
.panel-left-in {
  -webkit-animation-name: slidePanelLeftIn;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelLeftIn;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.4s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelLeftIn;
  animation-delay: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  left: 0;
}

/* line 336, ../scss/panels.scss */
.panel-left-out {
  -webkit-animation-name: slidePanelLeftOut;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelLeftOut;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelLeftOut;
  animation-delay: 0;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  left: -280px;
}

/* Keyframes */
@-webkit-keyframes slidePanelLeftIn {
  /* line 344, ../scss/panels.scss */
  from {
    left: -280px;
  }

  /* line 345, ../scss/panels.scss */
  to {
    left: 0;
  }
}

@-moz-keyframes slidePanelLeftIn {
  /* line 344, ../scss/panels.scss */
  from {
    left: -280px;
  }

  /* line 345, ../scss/panels.scss */
  to {
    left: 0;
  }
}

@keyframes slidePanelLeftIn {
  /* line 344, ../scss/panels.scss */
  from {
    left: -280px;
  }

  /* line 345, ../scss/panels.scss */
  to {
    left: 0;
  }
}

@-webkit-keyframes slidePanelLeftOut {
  /* line 349, ../scss/panels.scss */
  from {
    left: 0;
  }

  /* line 350, ../scss/panels.scss */
  to {
    left: -280px;
  }
}

@-moz-keyframes slidePanelLeftOut {
  /* line 349, ../scss/panels.scss */
  from {
    left: 0;
  }

  /* line 350, ../scss/panels.scss */
  to {
    left: -280px;
  }
}

@keyframes slidePanelLeftOut {
  /* line 349, ../scss/panels.scss */
  from {
    left: 0;
  }

  /* line 350, ../scss/panels.scss */
  to {
    left: -280px;
  }
}
