/*------------------------------------*\
	$$ Just Checking - Panels
\*------------------------------------*/
/*
Requires:
  * SASS
  * Compass
  * Global Variables
  * Global Mixins
Contents:
  * Imports
  * Scaffolding
  * Panel Base
  * Horizontal Panel
  * Vertical Panel
  * Panel Header
    * Panel header title
    * Panel header links
  * Panel Inner
  * Top Panel
    * State classes
    * Keyframes
  * Bottom Panel
    * State classes
    * Keyframes
  * Right Panel
    * State classes
    * Keyframes
  * Left Panel
    * State classes
    * Keyframes
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Mixins
\*------------------------------------*/
/*
Requires:
  * SASS
  * Compass
  * Global Variables
Contents:
  * Imports
  * Utility
    * Clearfix
    * Reset Margin & Padding
  * Borders
  * Backgrounds
  * Menus
  * Buttons
    * Default button
    * Submit button
  * Overlay
  * Text Trim
  * Scroll
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\ 
  $ Imports
\*------------------------------------*/
/*------------------------------------*\
  $$ Just Checking - Global Variables
\*------------------------------------*/
/*
Requires:
  * SASS
Contents:
  * Colours
    * Brand colours
    * Button & alert colours
    * Background colours
  * Scaffolding
    * Default Breakpoints
  * Buttons
    * Colours
    * Sizes
  * Margin & Padding
  * Typography
    * Font Family
    * Text Colour
  * Borders
  * Dimensions
  * Shadows
  * Tables
  * Breakpoints
Author(s):
  * Gareth Davies @garethadavies
*/
/*------------------------------------*\
  $ Colours
\*------------------------------------*/
/* Brand colours */
/* Button & alert colours */
/* Background colours */
/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/
/* Default Breakpoints */
/*------------------------------------*\
  $ Buttons
\*------------------------------------*/
/* Colours */
/* Sizes */
/*------------------------------------*\
  $ Margin & Padding
\*------------------------------------*/
/*------------------------------------*\
  $ Typography
\*------------------------------------*/
/* Font Family */
/* Text Colour */
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Dimensions
\*------------------------------------*/
/*------------------------------------*\
  $ Shadows
\*------------------------------------*/
/*------------------------------------*\
  $ Tables
\*------------------------------------*/
/*------------------------------------*\
  $ Breakpoints
\*------------------------------------*/
/*------------------------------------*\
  $ Utility
\*------------------------------------*/
/* Clearfix */
/* Reset Margin & Padding */
/*------------------------------------*\
  $ Borders
\*------------------------------------*/
/*------------------------------------*\
  $ Backgrounds
\*------------------------------------*/
/*------------------------------------*\
  $ Menus
\*------------------------------------*/
/*------------------------------------*\
  $ Buttons
\*------------------------------------*/
/* Default button */
/* Submit button */
/*------------------------------------*\
  $ Overlay
\*------------------------------------*/
/*------------------------------------*\
  $ Text Trim
\*------------------------------------*/
/*
Requires:
  * This requires a container with a set width
*/
/*------------------------------------*\
  $ Scroll
\*------------------------------------*/
/*------------------------------------*\
  $ Animations
\*------------------------------------*/
/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/
/* line 54, ../scss/panels.scss */
.page-wrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/*------------------------------------*\
  $ Panel Base
\*------------------------------------*/
/* line 66, ../scss/panels.scss */
.panel {
  position: fixed;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: white;
}

/*------------------------------------*\
  $ Horizontal Panel
\*------------------------------------*/
/* line 80, ../scss/panels.scss */
.panel-horizontal {
  width: 80%;
  max-width: 280px;
  height: 100%;
  background-color: #202020;
  color: white;
}

/*------------------------------------*\
  $ Vertical Panel
\*------------------------------------*/
/* line 95, ../scss/panels.scss */
.panel-vertical {
  width: 100%;
  height: auto;
  max-height: 90%;
  z-index: 4;
  padding-bottom: 1em;
  -webkit-box-shadow: 0 0 6px #999999;
  -moz-box-shadow: 0 0 6px #999999;
  box-shadow: 0 0 6px #999999;
}

/*------------------------------------*\
  $ Panel Header
\*------------------------------------*/
/* line 111, ../scss/panels.scss */
.panel-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2002;
  padding-left: 1em;
  height: 44px;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px #999999;
  -moz-box-shadow: 0 1px 1px #999999;
  box-shadow: 0 1px 1px #999999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f9f6));
  background-image: -webkit-linear-gradient(#ffffff, #f9f9f6);
  background-image: -moz-linear-gradient(#ffffff, #f9f9f6);
  background-image: -o-linear-gradient(#ffffff, #f9f9f6);
  background-image: linear-gradient(#ffffff, #f9f9f6);
  /* Panel header title */
  /* Panel header links */
}
/* line 121, ../scss/panels.scss */
.panel-header .panel-title {
  font-size: 1.4rem;
  color: #333333;
  line-height: 4.4rem;
}
/* line 129, ../scss/panels.scss */
.panel-header a {
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 4.4rem;
}

/*------------------------------------*\
  $ Panel Inner
\*------------------------------------*/
/* line 144, ../scss/panels.scss */
.panel-inner {
  padding: 2em;
  /* 
  height: 100%;
  margin-top: 44px;
  padding: $defaultPadding $defaultPadding $defaultPadding*3 $defaultPadding;
  .scroll-y();
  */
}

/*------------------------------------*\
  $ Top Panel
\*------------------------------------*/
/* line 161, ../scss/panels.scss */
.panel-top {
  left: 0;
  top: -110%;
  background-color: white;
}

/* State classes */
/* line 169, ../scss/panels.scss */
.panel-top-in {
  -webkit-animation-name: slidePanelTopIn;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelTopIn;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.4s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelTopIn;
  animation-delay: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  top: 0;
}

/* line 174, ../scss/panels.scss */
.panel-top-out {
  -webkit-animation-name: slidePanelTopOut;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelTopOut;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelTopOut;
  animation-delay: 0;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  top: 100%;
}

/* Keyframes */
@-webkit-keyframes slidePanelTopIn {
  /* line 182, ../scss/panels.scss */
  from {
    top: -100%;
  }

  /* line 183, ../scss/panels.scss */
  to {
    top: 0;
  }
}

@-moz-keyframes slidePanelTopIn {
  /* line 182, ../scss/panels.scss */
  from {
    top: -100%;
  }

  /* line 183, ../scss/panels.scss */
  to {
    top: 0;
  }
}

@keyframes slidePanelTopIn {
  /* line 182, ../scss/panels.scss */
  from {
    top: -100%;
  }

  /* line 183, ../scss/panels.scss */
  to {
    top: 0;
  }
}

@-webkit-keyframes slidePanelTopOut {
  /* line 187, ../scss/panels.scss */
  from {
    top: 0;
  }

  /* line 188, ../scss/panels.scss */
  to {
    top: -100%;
  }
}

@-moz-keyframes slidePanelTopOut {
  /* line 187, ../scss/panels.scss */
  from {
    top: 0;
  }

  /* line 188, ../scss/panels.scss */
  to {
    top: -100%;
  }
}

@keyframes slidePanelTopOut {
  /* line 187, ../scss/panels.scss */
  from {
    top: 0;
  }

  /* line 188, ../scss/panels.scss */
  to {
    top: -100%;
  }
}

/*------------------------------------*\
  $ Bottom Panel
\*------------------------------------*/
/* line 198, ../scss/panels.scss */
.panel-bottom {
  left: 0;
  bottom: -100%;
}

/* State classes */
/* line 205, ../scss/panels.scss */
.panel-bottom-in {
  -webkit-animation-name: slidePanelBottomIn;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelBottomIn;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.4s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelBottomIn;
  animation-delay: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  bottom: 0;
}

/* line 210, ../scss/panels.scss */
.panel-bottom-out {
  -webkit-animation-name: slidePanelBottomOut;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelBottomOut;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelBottomOut;
  animation-delay: 0;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  bottom: -90%;
}

/* Keyframes */
@-webkit-keyframes slidePanelBottomIn {
  /* line 218, ../scss/panels.scss */
  from {
    bottom: -90%;
  }

  /* line 219, ../scss/panels.scss */
  to {
    bottom: 0;
  }
}

@-moz-keyframes slidePanelBottomIn {
  /* line 218, ../scss/panels.scss */
  from {
    bottom: -90%;
  }

  /* line 219, ../scss/panels.scss */
  to {
    bottom: 0;
  }
}

@keyframes slidePanelBottomIn {
  /* line 218, ../scss/panels.scss */
  from {
    bottom: -90%;
  }

  /* line 219, ../scss/panels.scss */
  to {
    bottom: 0;
  }
}

@-webkit-keyframes slidePanelBottomOut {
  /* line 223, ../scss/panels.scss */
  from {
    bottom: 0;
  }

  /* line 224, ../scss/panels.scss */
  to {
    bottom: -90%;
  }
}

@-moz-keyframes slidePanelBottomOut {
  /* line 223, ../scss/panels.scss */
  from {
    bottom: 0;
  }

  /* line 224, ../scss/panels.scss */
  to {
    bottom: -90%;
  }
}

@keyframes slidePanelBottomOut {
  /* line 223, ../scss/panels.scss */
  from {
    bottom: 0;
  }

  /* line 224, ../scss/panels.scss */
  to {
    bottom: -90%;
  }
}

/*------------------------------------*\
  $ Right Panel
\*------------------------------------*/
/* line 234, ../scss/panels.scss */
.panel-right {
  right: -280px;
  top: 0;
  -webkit-box-shadow: inset 4px 0 20px -4px black;
  -moz-box-shadow: inset 4px 0 20px -4px black;
  box-shadow: inset 4px 0 20px -4px black;
}

/* State classes */
/* line 242, ../scss/panels.scss */
.panel-right-in {
  -webkit-animation-name: slidePanelRightIn;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelRightIn;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.4s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelRightIn;
  animation-delay: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  right: 0;
}

/* line 247, ../scss/panels.scss */
.panel-right-out {
  -webkit-animation-name: slidePanelRightOut;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelRightOut;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelRightOut;
  animation-delay: 0;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  right: -100%;
}

/* Keyframes */
@-webkit-keyframes slidePanelRightIn {
  /* line 255, ../scss/panels.scss */
  from {
    right: -280px;
  }

  /* line 256, ../scss/panels.scss */
  to {
    right: 0;
  }
}

@-moz-keyframes slidePanelRightIn {
  /* line 255, ../scss/panels.scss */
  from {
    right: -280px;
  }

  /* line 256, ../scss/panels.scss */
  to {
    right: 0;
  }
}

@keyframes slidePanelRightIn {
  /* line 255, ../scss/panels.scss */
  from {
    right: -280px;
  }

  /* line 256, ../scss/panels.scss */
  to {
    right: 0;
  }
}

@-webkit-keyframes slidePanelRightOut {
  /* line 260, ../scss/panels.scss */
  from {
    right: 0;
  }

  /* line 261, ../scss/panels.scss */
  to {
    right: -280px;
  }
}

@-moz-keyframes slidePanelRightOut {
  /* line 260, ../scss/panels.scss */
  from {
    right: 0;
  }

  /* line 261, ../scss/panels.scss */
  to {
    right: -280px;
  }
}

@keyframes slidePanelRightOut {
  /* line 260, ../scss/panels.scss */
  from {
    right: 0;
  }

  /* line 261, ../scss/panels.scss */
  to {
    right: -280px;
  }
}

/*------------------------------------*\
  $ Left Panel
\*------------------------------------*/
/* line 271, ../scss/panels.scss */
.panel-left {
  left: -280px;
  top: 0;
  -webkit-box-shadow: inset -4px 0 20px -4px black;
  -moz-box-shadow: inset -4px 0 20px -4px black;
  box-shadow: inset -4px 0 20px -4px black;
}

/* State classes */
/* line 279, ../scss/panels.scss */
.panel-left-in {
  -webkit-animation-name: slidePanelLeftIn;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelLeftIn;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.4s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelLeftIn;
  animation-delay: 0;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  left: 0;
}

/* line 284, ../scss/panels.scss */
.panel-left-out {
  -webkit-animation-name: slidePanelLeftOut;
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: slidePanelLeftOut;
  -moz-animation-delay: 0;
  -moz-animation-duration: 0.3s;
  -moz-animation-timing-function: ease;
  animation-name: slidePanelLeftOut;
  animation-delay: 0;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  left: -280px;
}

/* Keyframes */
@-webkit-keyframes slidePanelLeftIn {
  /* line 292, ../scss/panels.scss */
  from {
    left: -280px;
  }

  /* line 293, ../scss/panels.scss */
  to {
    left: 0;
  }
}

@-moz-keyframes slidePanelLeftIn {
  /* line 292, ../scss/panels.scss */
  from {
    left: -280px;
  }

  /* line 293, ../scss/panels.scss */
  to {
    left: 0;
  }
}

@keyframes slidePanelLeftIn {
  /* line 292, ../scss/panels.scss */
  from {
    left: -280px;
  }

  /* line 293, ../scss/panels.scss */
  to {
    left: 0;
  }
}

@-webkit-keyframes slidePanelLeftOut {
  /* line 297, ../scss/panels.scss */
  from {
    left: 0;
  }

  /* line 298, ../scss/panels.scss */
  to {
    left: -280px;
  }
}

@-moz-keyframes slidePanelLeftOut {
  /* line 297, ../scss/panels.scss */
  from {
    left: 0;
  }

  /* line 298, ../scss/panels.scss */
  to {
    left: -280px;
  }
}

@keyframes slidePanelLeftOut {
  /* line 297, ../scss/panels.scss */
  from {
    left: 0;
  }

  /* line 298, ../scss/panels.scss */
  to {
    left: -280px;
  }
}
