/*------------------------------------*\
	$$ Just Checking - Layout
\*------------------------------------*/

/*
Requires:
  * SASS
  * Compass
  * Global Variables
  * Global Mixins
Contents:
  * Imports
  * Variables
  * Scaffolding
  * Panels
  * Media Queries
  * IE Fixes
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import '../../assets/scss/modules/_mixins';
@import "compass/css3/box-shadow";




/*------------------------------------*\
  $ Variables
\*------------------------------------*/

$desktopBreakPoint: 76.7rem;
$desktopBreakPointIE: 767px;
$defaultMenuWidth: 32rem;
$defaultMenuWidthIE: 320px;

$horizontalPanelWidth: 280px;




/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/

html {
  font-size: 62.5%;
}

html, body {
	height: 100%;
  overflow: hidden;
}

body {
  font-family: $fontFamily;
  font-size: 13px;
  font-size: 1.3rem; /* =13px */
  color: $textColor;
  line-height: 1.6;
}

i {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1em;
  position: relative;
  top: 1px;
}

.page-wrapper {
  height: 100%;
  @include scroll-y();
}

/* Page wrapper animation */

// left
.page-wrapper-left-in {
  @include animation(slidePageLeftIn, 0.4s, 0, ease);
  left: 280px;
  position: fixed;
  // Stop the content scrolling when open
  overflow: hidden;
  // z-index: 3;
}

.page-wrapper-left-out {
  @include animation(slidePageLeftOut, 0.3s, 0, ease);
  left: 0;
  position: fixed;
}

@include keyframes(slidePageLeftIn) {
  from { left: 0; }
  to { left: 280px; }
}

@include keyframes(slidePageLeftOut) {
  from { left: 280px; }
  to { left: 0; }
}

// Right
.page-wrapper-right-in {
  @include animation(slidePageRightIn, 0.4s, 0, ease);
  left: -$horizontalPanelWidth;
  position: fixed;
  // Stop the content scrolling when open
  overflow: hidden;
  // z-index: 3;
}

.page-wrapper-right-out {
  @include animation(slidePageRightOut, 0.3s, 0, ease);
  left: 0;
  position: fixed;
}

@include keyframes(slidePageRightIn) {
  from { left: 0; }
  to { left: -$horizontalPanelWidth; }
}

@include keyframes(slidePageRightOut) {
  from { left: -$horizontalPanelWidth; }
  to { left: 0; }
}

/* This will target anything bigger than an ipad portrait */
@media only screen and (min-width: $desktopBreakPoint) {

  .page-wrapper {
    float: right;
    width: 70%;
  }

}

// IE8 Fix
.lt-ie9 .page-wrapper {
  float: right;
  width: 70%;
}




/*------------------------------------*\
  $ Panels
\*------------------------------------*/

.panel {
  position: fixed;  
  height: 100%;
  @include scroll-y();
  background-color: $white;
}

/* Horizontal Panel */

.panel-horizontal {
  width: 280px;
  height: 100%;
  background-color: lighten($grayDarker, 6%);
  color: $white;
}

/* Vertical Panel */

.panel-vertical {
  width: 100%;
  height: auto;
  max-height: 90%;
  z-index: 4;
  padding-bottom: $defaultPadding;
  @include box-shadow(0 0 6px $gray);
}

/* This will target anything bigger than an ipad portrait */
@media only screen and (min-width: $desktopBreakPoint) {

  .panel-vertical {
    .panel-inner {
      width: $desktopBreakPoint;
      margin: 0 auto;
    }
  }

}

// IE8 Fix
.lt-ie9 .panel-vertical {
  .panel-inner {
    width: $desktopBreakPointIE;
    margin: 0 auto;
  }
}

/* Panel Header */

.panel-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2002;
  padding-left: $defaultPadding;
  @include menu-base();

  // The panel header title
  .panel-title {
    font-size: 1.4rem;
    color: $textColor;
    line-height: 4.4rem;
  }

  //
  a {
    text-align: center;
    width: $touchMinimum;
    height: $touchMinimum;
    line-height: 4.4rem;
  }
}

/* Panel Inner */

.panel-inner {
  padding: $defaultPadding*2;
  /* 
  height: 100%;
  margin-top: 44px;
  padding: $defaultPadding $defaultPadding $defaultPadding*3 $defaultPadding;
  .scroll-y();
  */
}

/* Top Panel */

.panel-top {
  left: 0;
  top: -110%;
  background-color: $white;
}

.panel-top-in {
  @include animation(slidePanelTopIn, 0.4s, 0, ease);
  top: 0;
}

.panel-top-out {
  @include animation(slidePanelTopOut, 0.3s, 0, ease);
  top: 100%;
}

// Keyframes

@include keyframes(slidePanelTopIn) {
  from { top: -100%; }
  to { top: 0; }
}

@include keyframes(slidePanelTopOut) {
  from { top: 0; }
  to { top: -100%; }
}

/* Bottom Panel */

.panel-bottom {
  left: 0;
  bottom: -100%;
}

.panel-bottom-in {
  @include animation(slidePanelBottomIn, 0.4s, 0, ease);
  bottom: 0;
}

.panel-bottom-out {
  @include animation(slidePanelBottomOut, 0.3s, 0, ease);
  bottom: -90%;
}

// Keyframes

@include keyframes(slidePanelBottomIn) {
  from { bottom: -90%; }
  to { bottom: 0; }
}

@include keyframes(slidePanelBottomOut) {
  from { bottom: 0; }
  to { bottom: -90%; }
}

/* Right Panel */

.panel-right {
  right: -$horizontalPanelWidth;
  top: 0;
  @include box-shadow(inset 4px 0 20px -4px $black);
}

/* This will target anything bigger than an ipad portrait */
@media only screen and (min-width: $desktopBreakPoint) {

  .panel-right {
    width: auto;

    .panel-inner {
      width: $defaultMenuWidth;
    }
  }

}

// IE8 Fix
.lt-ie9 .panel-right {
  width: auto;

  .panel-inner {
    width: $defaultMenuWidthIE;
  }
}

.panel-right-in {
  @include animation(slidePanelRightIn, 0.4s, 0, ease);
  right: 0;
}

.panel-right-out {
  @include animation(slidePanelRightOut, 0.3s, 0, ease);
  right: -100%;
}

// Keyframes

@include keyframes(slidePanelRightIn) {
  from { right: -$horizontalPanelWidth; }
  to { right: 0; }
}

@include keyframes(slidePanelRightOut) {
  from { right: 0; }
  to { right: -$horizontalPanelWidth; }
}

/*
Left Panel 
This is the main menu panel
*/

.panel-left {
  left: -$horizontalPanelWidth; 
  top: 0;
  @include box-shadow(inset -4px 0 20px -4px $black);
}

/* This will target anything bigger than an ipad portrait */
@media only screen and (min-width: $desktopBreakPoint) {

  .panel-left {
    left: 0;
    width: 30%;
    float: left;

    // Hide the panel close link
    .panel-close {
      display: none;
    }
  }

}

// IE8 Fix
.lt-ie9 .panel-left {
  left: 0;
  width: 30%;
  float: left;

  // Hide the panel close link
  .panel-close {
    display: none;
  }
}

.panel-left-in {
  @include animation(slidePanelLeftIn, 0.4s, 0, ease);
  left: 0;
}

.panel-left-out {
  @include animation(slidePanelLeftOut, 0.3s, 0, ease);
  left: -$horizontalPanelWidth;
}

// Keyframes

@include keyframes(slidePanelLeftIn) {
  from { left: -$horizontalPanelWidth; }
  to { left: 0; }
}

@include keyframes(slidePanelLeftOut) {
  from { left: 0; }
  to { left: -$horizontalPanelWidth; }
}




/*------------------------------------*\
  $ Media Queries
\*------------------------------------*/

/* This will target anything bigger than an ipad portrait */
@media only screen and (min-width: $desktopBreakPoint) {

  // Hide any links that open the left panel
  a[data-target="left"] {
    display: none;     
  }

}




/*------------------------------------*\
  $ IE Fixes
\*------------------------------------*/

// Hide any links that open the left panel
.lt-ie9 a[data-target="left"] {
  display: none;     
}