/*------------------------------------*\
	$$ Just Checking - Layout
\*------------------------------------*/

/*
Requires:
  * SASS
  * Compass
  * Global Variables
  * Global Mixins
Contents:
  * Imports
  * Variables
  * Scaffolding
  * Panels
  * Media Queries
  * IE8 Fixes
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import '../../assets/scss/modules/_mixins';
@import "compass/css3/box-shadow";




/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/

html {
  font-size: 62.5%;
}

html, body {
	height: 100%;
  overflow: hidden;
}

body {
  font-family: $fontFamily;
  font-size: 13px;
  font-size: 1.3rem; /* =13px */
  color: $textColor;
  line-height: 1.6;
}

i {
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1em;
  position: relative;
  top: 1px;
}