/*------------------------------------*\
	$$ Just Checking - Panels
\*------------------------------------*/

/*
Requires:
  * SASS
  * Compass
  * Global Variables
  * Global Mixins
Contents:
  * Imports
  * Panel Base
  * Horizontal Panel
    * Panel Inner
  * Vertical Panel
    * Panel Inner
  * Panel Header
    * Panel header title
    * Panel header links
  * Panel Inner
  * Top Panel
    * State classes
    * Keyframes
  * Bottom Panel
    * State classes
    * Keyframes
  * Right Panel
    * State classes
    * Keyframes
  * Left Panel
    * State classes
    * Keyframes
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import '../../assets/scss/modules/_mixins';
@import "compass/css3/box-shadow";




/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/

.page-wrapper {
  height: 100%;
  // @include scroll-y();
  overflow: hidden;
}

.page-inner {
  height: 100%;
  padding: 0 $defaultPadding $defaultPadding*4 $defaultPadding;
  @include scroll-y(); 
}




/*------------------------------------*\
  $ Panel Base
\*------------------------------------*/

.panel {
  position: fixed;  
  height: 100%;
  // @include scroll-y();
  background-color: $white;
}




/*------------------------------------*\
  $ Panel Inner
\*------------------------------------*/

.panel-inner { 
  height: 100%;
  @include scroll-y();
}




/*------------------------------------*\
  $ Panel Header
\*------------------------------------*/

.panel-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 0 0 0 $defaultPadding;
  width: 100%;

  /* Panel header title */
  
  .panel-title {
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 46px;
    line-height: 4.6rem;
  }

  /* Close link */

  .panel-close {
    float: right;
    text-align: center;
    width: $touchMinimum;
    height: $touchMinimum;
    line-height: 38px;
    line-height: 3.8rem;
  }

}




/*------------------------------------*\
  $ Horizontal Panel
\*------------------------------------*/

.panel-horizontal {
  width: $smallPanelWidth;
  max-width: $smallPanelWidth;
  height: 100%;
  background-color: lighten($grayDarker, 6%);
  color: $white;

  /* Panel Inner */

  .panel-inner {
    @extend .panel-inner;
    margin-top: 44px;
    padding: 0 $defaultPadding $defaultPadding*3 $defaultPadding;
  }

  /* Panel Header */
  
  .panel-header {
    .panel-title,
    i {
      color: $white;
    }
  }
}




/*------------------------------------*\
  $ Vertical Panel
\*------------------------------------*/

.panel-vertical {
  width: 94%;
  left: 3%;
  height: auto;
  max-height: 90%;
  z-index: 4;
  // padding-bottom: $defaultPadding;
  @include box-shadow(0 0 6px $grayDark);

  /* Panel Inner */

  .panel-inner {
    @extend .panel-inner;
    padding: 0 $defaultPadding $defaultPadding*2 $defaultPadding;
    margin-top: 44px;
    // padding: 0 $defaultPadding $defaultPadding*3 $defaultPadding;
  }

  /* Panel Header */
  
  .panel-header {
    @include menu-base();
  }

}




/*------------------------------------*\
  $ Vertical Panel Helper Class
\*------------------------------------*/

.panel-vertical-tall {
  height: 100%;
  padding-bottom: $defaultPadding*3;
}




/*------------------------------------*\
  $ Top Panel
\*------------------------------------*/

.panel-top {
  top: -110%;
  background-color: $white;
  z-index: 5;
}

/* State classes */

.panel-top-in {
  @include animation(slidePanelTopIn, 0.4s, 0, ease);
  top: 0;
}

.panel-top-out {
  @include animation(slidePanelTopOut, 0.3s, 0, ease);
  top: 100%;
}

/* Keyframes */

@include keyframes(slidePanelTopIn) {
  from { top: -100%; }
  to { top: 0; }
}

@include keyframes(slidePanelTopOut) {
  from { top: 0; }
  to { top: -100%; }
}




/*------------------------------------*\
  $ Bottom Panel
\*------------------------------------*/

.panel-bottom {  
  bottom: -110%;
}

/* State classes */

.panel-bottom-in {
  @include animation(slidePanelBottomIn, 0.4s, 0, ease);
  bottom: 0;
}

.panel-bottom-out {
  @include animation(slidePanelBottomOut, 0.3s, 0, ease);
  bottom: -100%;
}

/* Keyframes */

@include keyframes(slidePanelBottomIn) {
  from { bottom: -100%; }
  to { bottom: 0; }
}

@include keyframes(slidePanelBottomOut) {
  from { bottom: 0; }
  to { bottom: -100%; }
}




/*------------------------------------*\
  $ Right Panel
\*------------------------------------*/

.panel-right {
  right: -$smallPanelWidth;
  top: 0;
  @include box-shadow(inset 4px 0 20px -4px $black);
}

/* State classes */

.panel-right-in {
  @include animation(slidePanelRightIn, 0.4s, 0, ease);
  right: 0;
}

.panel-right-out {
  @include animation(slidePanelRightOut, 0.3s, 0, ease);
  right: -100%;
}

/* Keyframes */

@include keyframes(slidePanelRightIn) {
  from { right: -$smallPanelWidth; }
  to { right: 0; }
}

@include keyframes(slidePanelRightOut) {
  from { right: 0; }
  to { right: -$smallPanelWidth; }
}




/*------------------------------------*\
  $ Left Panel
\*------------------------------------*/

.panel-left {
  left: -$smallPanelWidth; 
  top: 0;
  @include box-shadow(inset -4px 0 20px -4px $black);
}

/* State classes */

.panel-left-in {
  @include animation(slidePanelLeftIn, 0.4s, 0, ease);
  left: 0;
}

.panel-left-out {
  @include animation(slidePanelLeftOut, 0.3s, 0, ease);
  left: -$smallPanelWidth;
}

/* Keyframes */

@include keyframes(slidePanelLeftIn) {
  from { left: -$smallPanelWidth; }
  to { left: 0; }
}

@include keyframes(slidePanelLeftOut) {
  from { left: 0; }
  to { left: -$smallPanelWidth; }
}