/*------------------------------------*\
	$$ Just Checking - Panels
\*------------------------------------*/

/*
Requires:
  * SASS
  * Global Variables
  * Global Mixins
Contents:
  * Imports
  * Media Queries
    * <= 767px
      * Page wrapper animation classes
      * Page wrapper keyframes
    * >= 768px
    * >= 1440px
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import '../../assets/scss/modules/_mixins';




/*------------------------------------*\
  $ Media Queries
\*------------------------------------*/

/* <= 767px */

// This will target anything smaller than our medium breakpoint
@media only screen and (max-width: 767px) {

  /* Page wrapper animation classes */

  // In from the left
  .page-wrapper-left-in {
    @include animation(slidePageLeftIn, 0.4s, 0, ease);
    left: $smallPanelWidth;
    position: fixed;
    // Stop the content scrolling when open
    overflow: hidden;
  }

  // Out to the left
  .page-wrapper-left-out {
    @include animation(slidePageLeftOut, 0.3s, 0, ease);
    left: 0;
    position: fixed;
  }

  // In from the right
  .page-wrapper-right-in {
    @include animation(slidePageRightIn, 0.4s, 0, ease);
    left: -$smallPanelWidth;
    position: fixed;
    // Stop the content scrolling when open
    overflow: hidden;
    // z-index: 3;
  }
  
  // Out to the right
  .page-wrapper-right-out {
    @include animation(slidePageRightOut, 0.3s, 0, ease);
    left: 0;
    position: fixed;
  }

  /* Page wrapper keyframes */
  
  // In from the left
  @include keyframes(slidePageLeftIn) {
    from { left: 0; }
    to { left: $smallPanelWidth; }
  }

  // Out to the left
  @include keyframes(slidePageLeftOut) {
    from { left: $smallPanelWidth; }
    to { left: 0; }
  }

  // In from the right
  @include keyframes(slidePageRightIn) {
    from { left: 0; }
    to { left: -$smallPanelWidth; }
  }

  // Out to the right
  @include keyframes(slidePageRightOut) {
    from { left: -$smallPanelWidth; }
    to { left: 0; }
  }

}

/* >= 768px */

// This will target anything bigger than our medium breakpoint
@media only screen and (min-width: $mediumBreakPoint) {

  // Hide any links that open the left panel
  a[data-target="left"],
  button[data-target="left"] {
    display: none;     
  }

  // Float the page wrapper to the right and set correct width
  .page-wrapper {
    float: right;
    width: 70%;
  }

  // Set a max width for the vertical panel inner
  .panel-vertical {
    .panel-inner {
      width: $mediumBreakPoint;
      margin: 0 auto;
    }
  }

  // Set the correct width and position
  // float to the left
  .panel-left {
    left: 0;
    width: 30%;
    max-width: 30%;
    float: left;

    // Hide the panel close link
    .panel-close {
      display: none;
    }
  }

}

/* >= 1440px */

/* This will target anything bigger than our large breakpoint */
@media only screen and (min-width: $largeBreakPoint) {

  // Remove float
  // Adjust width and position
  .page-wrapper {
    float: none;
    width: 60%;
    position: relative;
    left: 20%;
  }

  // Adjust width
  .panel-left {
    width: 20%;
    max-width: 20%;
  }

  // Float right
  // Adjust width and position
  .panel-right {
    right: 0;
    width: 20%;
    max-width: 20%;
    float: right;

    // Hide the panel close link
    .panel-close {
      display: none;
    }
  }

  // Hide any links that open the right panel
  a[data-target="right"],
  button[data-target="right"] {
    display: none;     
  }

}