/*------------------------------------*\
	$$ Just Checking - Panels
\*------------------------------------*/

/*
Requires:
  * SASS
  * Compass
  * Global Variables
  * Global Mixins
Contents:
  * Imports
  * Scaffolding
  * Panel Base
  * Horizontal Panel
  * Vertical Panel
  * Panel Header
    * Panel header title
    * Panel header links
  * Panel Inner
  * Top Panel
    * State classes
    * Keyframes
  * Bottom Panel
    * State classes
    * Keyframes
  * Right Panel
    * State classes
    * Keyframes
  * Left Panel
    * State classes
    * Keyframes
Author(s):
  * Gareth Davies @garethadavies
*/




/*------------------------------------*\
  $ Imports
\*------------------------------------*/

@import '../../assets/scss/modules/_mixins';
@import "compass/css3/box-shadow";




/*------------------------------------*\
  $ Scaffolding
\*------------------------------------*/

.page-wrapper {
  height: 100%;
  @include scroll-y();
}




/*------------------------------------*\
  $ Panel Base
\*------------------------------------*/

.panel {
  position: fixed;  
  height: 100%;
  @include scroll-y();
  background-color: $white;
}




/*------------------------------------*\
  $ Horizontal Panel
\*------------------------------------*/

.panel-horizontal {
  width: 80%;
  max-width: $smallPanelWidth;
  height: 100%;
  background-color: lighten($grayDarker, 6%);
  color: $white;
}




/*------------------------------------*\
  $ Vertical Panel
\*------------------------------------*/

.panel-vertical {
  width: 100%;
  height: auto;
  max-height: 90%;
  z-index: 4;
  padding-bottom: $defaultPadding;
  @include box-shadow(0 0 6px $gray);
}




/*------------------------------------*\
  $ Panel Header
\*------------------------------------*/

.panel-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2002;
  padding-left: $defaultPadding;
  @include menu-base();

  /* Panel header title */
  
  .panel-title {
    font-size: 1.4rem;
    color: $textColor;
    line-height: 4.4rem;
  }

  /* Panel header links */

  a {
    text-align: center;
    width: $touchMinimum;
    height: $touchMinimum;
    line-height: 4.4rem;
  }
}




/*------------------------------------*\
  $ Panel Inner
\*------------------------------------*/

.panel-inner {
  padding: $defaultPadding*2;
  /* 
  height: 100%;
  margin-top: 44px;
  padding: $defaultPadding $defaultPadding $defaultPadding*3 $defaultPadding;
  .scroll-y();
  */
}




/*------------------------------------*\
  $ Top Panel
\*------------------------------------*/

.panel-top {
  left: 0;
  top: -110%;
  background-color: $white;
}

/* State classes */

.panel-top-in {
  @include animation(slidePanelTopIn, 0.4s, 0, ease);
  top: 0;
}

.panel-top-out {
  @include animation(slidePanelTopOut, 0.3s, 0, ease);
  top: 100%;
}

/* Keyframes */

@include keyframes(slidePanelTopIn) {
  from { top: -100%; }
  to { top: 0; }
}

@include keyframes(slidePanelTopOut) {
  from { top: 0; }
  to { top: -100%; }
}




/*------------------------------------*\
  $ Bottom Panel
\*------------------------------------*/

.panel-bottom {
  left: 0;
  bottom: -100%;
}

/* State classes */

.panel-bottom-in {
  @include animation(slidePanelBottomIn, 0.4s, 0, ease);
  bottom: 0;
}

.panel-bottom-out {
  @include animation(slidePanelBottomOut, 0.3s, 0, ease);
  bottom: -90%;
}

/* Keyframes */

@include keyframes(slidePanelBottomIn) {
  from { bottom: -90%; }
  to { bottom: 0; }
}

@include keyframes(slidePanelBottomOut) {
  from { bottom: 0; }
  to { bottom: -90%; }
}




/*------------------------------------*\
  $ Right Panel
\*------------------------------------*/

.panel-right {
  right: -$smallPanelWidth;
  top: 0;
  @include box-shadow(inset 4px 0 20px -4px $black);
}

/* State classes */

.panel-right-in {
  @include animation(slidePanelRightIn, 0.4s, 0, ease);
  right: 0;
}

.panel-right-out {
  @include animation(slidePanelRightOut, 0.3s, 0, ease);
  right: -100%;
}

/* Keyframes */

@include keyframes(slidePanelRightIn) {
  from { right: -$smallPanelWidth; }
  to { right: 0; }
}

@include keyframes(slidePanelRightOut) {
  from { right: 0; }
  to { right: -$smallPanelWidth; }
}




/*------------------------------------*\
  $ Left Panel
\*------------------------------------*/

.panel-left {
  left: -$smallPanelWidth; 
  top: 0;
  @include box-shadow(inset -4px 0 20px -4px $black);
}

/* State classes */

.panel-left-in {
  @include animation(slidePanelLeftIn, 0.4s, 0, ease);
  left: 0;
}

.panel-left-out {
  @include animation(slidePanelLeftOut, 0.3s, 0, ease);
  left: -$smallPanelWidth;
}

/* Keyframes */

@include keyframes(slidePanelLeftIn) {
  from { left: -$smallPanelWidth; }
  to { left: 0; }
}

@include keyframes(slidePanelLeftOut) {
  from { left: 0; }
  to { left: -$smallPanelWidth; }
}